a.lpag1{
	text-decoration: none;
    color: white;
}
a.lpag1:hover{
    text-decoration: underline;
    color: brown;
}
a.lpag1:active{
    text-decoration: none;
    color: blue;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    font-size:20px;
}
.menu{
    position:absolute;
    right:100px;
    top: 25px;
    color:white;
}
.logo{
    margin-top: 0px;
    margin-left: 100px;
}
.flip{
    color:green;
}
.quest{
    color:blue;
}
.cmenu{
    position: fixed; 
    top: 0px; 
    left: 00px; 
    right: 00px;
    background-color:black;
    width: 100%;
    padding: 5px 0;
}